// ========================================================================
// COMPONENTS/SECTIONS/TRANSACTIONS
// ========================================================================

@import '~sassHelpers';

.c-transactions {
  background: white;
  border: 1px solid color(grey2);

  th,
  td {
    padding: spacer(1);
  }

  th {
    border-bottom: 1px solid color(grey2);
  }
}
