// ========================================================================
// COMPONENTS/SECTIONS/HEADER
// ========================================================================

@import '~sassHelpers';

.c-header {
  display: flex;
  padding: spacer(2);
  background: white;
  border-bottom: 1px solid color(grey2);

  &__togglenav {
    margin-left: auto;
    font-size: 14px;
    background: none;
    border: 1px solid #ccc;
    border-radius: 6px;

    @include bp(10) {
      display: none;
    }
  }

  .c-nav {
    margin-left: auto;
  }
}
