// ========================================================================
// COMPONENTS/SHARED/TABS
// ========================================================================

@import '~sassHelpers';

.c-tabs {
  margin-bottom: spacer(4);
  background: white;
  border: 1px solid color(grey2);
  border-radius: $border-radius;
  overflow: hidden;

  &__nav {
    display: flex;
    background: color(blue-dark);

    @include bp(10, max) {
      li {
        flex: 1;
      }
    }
  }

  &__button {
    width: 100%;
    padding: spacer(2);
    background-color: color(blue-dark);
    color: white;

    &.isActive {
      background: white;
      color: color(blue-dark);
    }

    @include bp(10) {
      padding-left: spacer(4);
      padding-right: spacer(4);
    }
  }

  > div {
    padding: spacer(2);
  }
}
